<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Agregar Colaboradores</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Planner</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Gestión de Usuario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Gestión de Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Gestión de Tareas</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h2>Tarea</h2>
            <div class="table-responsive">
                <form method="post">
                    {% csrf_token %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nombre Tarea</th>
                            <th>Código de Tarea</th>
                            <th>Descripción</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="hidden" name="tarea" value="{{tarea.id}}">{{ tarea.nombre_tarea }}</td>
                            <td>{{ tarea.codigo_tarea }}</td>
                            <td>{{ tarea.descripción }}</td>
                            <td>{{ tarea.fecha_inicio }}</td>
                            <td>{{ tarea.fecha_fin }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="Input_descripcion_tarea" class="form-label">Agregue colaboradores a la
                                tarea</label>
                            <select class="form-control" multiple aria-label="size 3 select example"
                                    name="colaboradores">
                                {% for colaborador in colaboradores %}
                                    <option value='{{ colaborador.id }}'>{{ colaborador }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Aceptar e Iniciar Tarea</button>
                        {{ form }}
                    </div>
                </form>
            </div>

        </div>

    </div>


</div>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>