<!doctype html>
<html lang="en">
<head>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static 'planner/style.css' %}'>
    <script type="text/javascript" src='{% static 'planner/scripts.js' %}'></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['gantt']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Task ID');
            data.addColumn('string', 'Task Name');
            data.addColumn('string', 'Resource');
            data.addColumn('date', 'Start Date');
            data.addColumn('date', 'End Date');
            data.addColumn('number', 'Duration');
            data.addColumn('number', 'Percent Complete');
            data.addColumn('string', 'Dependencies');

            let row = []
            {% for tarea in lista_tareas %}
                row.push(['{{ tarea.codigo_tarea}}',
                    '{{ tarea.nombre_tarea }}',
                    '',
                    new Date('{{ tarea.fecha_inicio.isoformat }}'),
                    new Date('{{ tarea.fecha_fin.isoformat }}'),
                    null,
                    {{ tarea.progreso }},
                    null])
            {%endfor %}
            data.addRows(row);
            console.log(data)

            var options = {
                height: 400,
                gantt: {
                    trackHeight: 30
                },
                labelStyle: {
                    fontName: 'Roboto',
                    fontSize: 24,
                    color: '#ff0000'
                },
            };


            var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

            chart.draw(data, options);
        }
    </script>

    <script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-gantt.min.js"></script>

    <title>Document</title>
</head>
<body>
<form method="post">
{% csrf_token %}
    <select class="form-select" aria-label="Default select example" name="proyecto">
        {% for proyecto in lista_proyectos %}
            <option
            value='{{ proyecto.id }}'
                    {% if selected == proyecto.id %}
                        selected="selected"
                    {% endif %}>
                {{ proyecto.nombre_proyecto }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Cambiar</button>
{{ form }}
</form>
    <div id="chart_div"></div>
{% if tareas_por_retrasarse %}
        {% include 'vista_proyecto/componentes/gantt_tareas_atrasadas.html' %}
{% endif %}

{% if tareas_por_finalizar %}
        {% include 'vista_proyecto/componentes/gantt_tareas_finalizadas.html' %}
{% endif %}

{% include 'vista_proyecto/componentes/gestion_tareas.html' %}



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>