<!doctype html>
<html lang="en">
<head>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static 'planner/style.css' %}'>
    <script type="text/javascript" src='{% static 'planner/scripts.js' %}'></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-gantt.min.js"></script>

    <title>Document</title>
</head>
<body>
<form method="post">
{% csrf_token %}
    <select class="form-select" aria-label="Default select example" name="proyecto">
        {% for proyecto in lista_proyectos %}
            <option
            value='{{ proyecto.id }}'
                    {% if selected == proyecto.id %}
                        selected="selected"
                    {% endif %}>
                {{ proyecto.nombre_proyecto }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Cambiar</button>
{{ form }}
</form>
{% if tareas_por_retrasarse %}
        {% include 'vista_proyecto/componentes/gantt_tareas_atrasadas.html' %}
{% endif %}

{% if tareas_por_finalizar %}
        {% include 'vista_proyecto/componentes/gantt_tareas_finalizadas.html' %}
{% endif %}

{% include 'vista_proyecto/componentes/gestion_tareas.html' %}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>